/* use this to put borders around things... */
.crop-img{
  max-height:50px;
  max-width:50%;
  margin-bottom: 10px;
  vertical-align: sub;

}

.large-img{
  max-width:50%;
  max-height:400px;
  display:block;
  margin:auto;
}

h1 { /* Academy name */
  font-family: 'Lora', serif;
  color: #191970;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
   
}


body {
  font-size: 16px;
  color: #F5F5DC;
  background-color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;

}

#logo-img {
  background: url('../images/wP_logo.png') no-repeat;
  width: 300px;
  height: 150px;
  right margin: 10px 15px 10px 0;
 
}

.navbar-brand h1 { /* EDtech name */
  font-family: 'Lora', serif;
  color: #557c3e;
 
}


/* FOOTER */
.panel-footer {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: orange;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 15px;
}
#Contact, #hours, #address {
  line-height: 2;
}
#Contact >span #hours > span, #address > span {
  font-size: 1.3em;
}

#Contact p {
   color: #222;
  font-size: .8em;
  line-height: 1.8;

}
#address p {
  color: #222;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

.container .jumbotron {
  box-shadow: 0 0 100px #3F0C1F;
  border: 1px solid #3F0C1F;
}

@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/h3_page.jpg') no-repeat;
    height: 600px;
  }
}

@media (min-width: 1000px) {
  .container .jumbotron {
    background: url('../images/h3_page.jpg') no-repeat;
    height: 600px;
  }
}

/* Home Page */
  .container .jumbotron {
    background: url('../images/h3_page.jpg') no-repeat;
    height: 550px;
  }


  